table{
    width:1000px;
    margin: 0 auto;
    border-collapse: collapse;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
td{
    width: 180px;
    height: 180px;
    padding: 10px;
    justify-content: center;
    text-align: center;
    position: relative;
    transition: background-color .4s ease;
    border: 1px solid #888;
}
td p{
    z-index: 1;
    /* pointer-events: none; */
    margin: 0;
    font-size: .9em;
}
.punchlines{
    display: table-cell;
    vertical-align: middle;
    background: #222;
    color: white;
    position: absolute;
    text-shadow: 0 0 5px #000;
    height: 88%;
    width: 88%;
    top: 0;
    left: 50px;
    pointer-events: none;
    transition: opacity .4s ease,
                left .4s ease;
    padding: 6%;
    opacity: 0;
    z-index: 100;
    border: 1px solid #000;
}
.punchlines ul{
    text-align: left;
    margin: 13px;
    padding: 0;
}
.punchlines div{
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
td:hover label{
    color:  #000;
    background-color: #ffff0018;
}
td:hover > .punchlines{
    opacity: 1;
    left: 200px;
}
input[type=checkbox]{
    display:none;
}
label{
    z-index:10;
}
.background{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    /* pointer-events: none; */
}
input:checked + .background{
    background: #ff0000; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ff0000 0%, #ff0000 64%, #fff 65%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ff0000 0%,#ff0000 64%,#fff 65%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ff0000 0%,#ff0000 64%,#fff 65%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#fff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    opacity: .4;
    background-position: center center;
    background-repeat: no-repeat;
    animation-name: check;
    animation-duration: .4s;
}

@keyframes check{
    0% {
        background-size: 0% 0%;
    }
    50%{
        background-size: 120% 120%;
    }
    60%{
        background-size: 100% 100%;
    }
    70%{
        background-size: 110% 110%;
    }
    100%{
        background-size: 100% 100%;
    }
}

@media screen and (max-width:1919px){
    .lefty{
        left: -50px;
    }
    td:hover > .lefty{
        left: -200px;
    }
}